
        // .loginForm{
        //     .formBox{
        //         display: flexbox;
        //         flex-direction: column;
        //         background: "white" 
        //     }
        // }
.loginForm{
    background-color: white;
    h1{
        color: orange;
        text-align: center;
    }
}        
